//
   Created by Sohax on 07/06/2016.
nav.navbar.navbar-light.bg-faded
  a.navbar-brand(href="/") Home
  ul.nav.navbar-nav
    li.nav-item
      a.nav-link(href="grid.html") Grid
    li.nav-item
      a.nav-link(href="typography.html") Text
    li.nav-item
      a.nav-link(href="tables.html") Tables
    li.nav-item
      a.nav-link(href="images.html") Images
