extends _layouts/base


block content
  .container
    include _modules/link/menu
    h1 Bootstrap grid
    div.row
      div.col-sm-2 .col-sm-2 a
      div.col-sm-2 .col-sm-2 b
      div.col-sm-2 .col-sm-2 c
      div.col-sm-2 .col-sm-2 d
      div.col-sm-2 .col-sm-2 d
      div.col-sm-2 .col-sm-2 d

    div.row
      div.col-sm-4 tine loc de 4 celule din 12 in total
      div.col-sm-8 tine loc de 8 celule din 12 in total

    div.row
      div.col-sm-8 acum e pe responsive, daca-l marim putin vezi (8 din cele 12 in total)
      div.col-sm-4 deci ideea e sa faci pentru fiecare lectie cate un link si o pagina (4 din celel 12 in total)
